DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=taskflow_db
DB_USERNAME=root
DB_PASSWORD=
JWT_SECRET=taskflow-super-secret-key-for-jwt-authentication-2026-taskflow-backend
JWT_EXPIRATION=300000
SERVER_PORT=8080

